{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<header class="main-header">
    <h2><i class="fas fa-user-circle"></i> Xin chào, Thạch đẹp trai</h2>
    <p class="total-balance"> Tổng số dư: <span>{{total_amount}} ₫</span></p>
</header>  
<div class="account-cards">
    <div class="card">
        <div class="card-header">
            <h3>Tài khoản ngân hàng</h3>
            <i class="fas fa-credit-card"></i>
        </div>
        <div class="card-body">
            <p class="balance">{{total_balance_bank}} ₫</p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Ví điện tử</h3>
            <i class="fas fa-wallet"></i>
        </div>
        <div class="card-body">
            <p class="balance">{{total_balance_ewallet}} ₫</p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Tiền mặt</h3>
            <i class="fas fa-money-bill-alt"></i>
        </div>
        <div class="card-body">
            <p class="balance">{{total_balance_cash}} ₫</p>
        </div>
    </div>
</div> 
<div class="card transactions mb-8">
    <div class="card-header">
        <h3>Giao dịch gần đây</h3>
    </div>
    <div class="card-body">
        <ul class="transaction-list">
            <li>
                <div class="transaction-info">
                    <p class="transaction-title">{{description_transaction1}}</p>
                    <p class="transaction-date ">{{date_transaction1}}</p>
                </div>
                <p class="transaction-amount expense">{{amount_transaction1}} ₫</p>
            </li>
            <li>
                <div class="transaction-info">
                    <p class="transaction-title">{{description_transaction2}}</p>
                    <p class="transaction-date">{{date_transaction2}}</p>
                </div>
                <p class="transaction-amount income">{{amount_transaction2}} ₫</p>
            </li>
        </ul>
    </div>
</div>
<div class="card budget">
    <div class="card-header">
        <h3>Tổng quan ngân sách</h3>
    </div>
    <div class="card-body">
        <div class="budget-item">
            <div class="budget-info">
                <span class="font-bold">Ăn uống</span>
                <span>1.500.000 / 2.000.000 ₫</span>
            </div>
            <div class="progress-bar">
                <div class="progress" style="width: 75%"></div>
            </div>
        </div>

        <div class="budget-item">
            <div class="budget-info">
                <span class="font-bold">Mua sắm</span>
                <span>800.000 / 1.500.000 ₫</span>
            </div>
            <div class="progress-bar">
                <div class="progress" style="width: 53%"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}