{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
<div class="modal edit-modal active" id="editTransactionModal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Sửa giao dịch</h3>
            <a  href="/transaction" class="close-btn edit-close-btn"><i class="fas fa-times"></i></a>
        </div>
        <form class="transaction-form" action="/transaction/edit/{{ transaction._id }}" method="post">
            <div class="form-group">
                <label>Loại giao dịch</label>
                <select required class="typeTransaction" name="type">
                    <option value="income">Thu nhập</option>
                    <option value="expense">Chi tiêu</option>
                    <option value="transfer">Chuyển khoản</option>
                </select>
            </div>
            <div class="form-group">
                <label>Tài khoản</label>
                <select required name="account">
                    <option value="{{ transaction.account }}">{{ transaction.account }}</option>
                    <option value="Vietcombank">Vietcombank</option>
                    <option value="Momo">Momo</option>
                </select>
            </div>
            <div class="form-group">
                <label>Danh mục</label>
                <select required class="categoryIncome" name="category" disabled>
                    <option value="Lương">Lương</option>
                </select>
                
                <select required class="categoryExpense hidden" name="category" disabled>
                    {% for category in categories %}
                        <option value="{{ category.category }}">{{ category.category }}</option>
                    {% endfor %}
                </select>
                
                <select required class="categoryTransfer hidden" name="category" disabled>
                    <option value="Khác" selected>Khác</option>
                </select>
            </div>
            <div class="form-group">
                <label>Số tiền</label>
                <input type="number" required name="amount" value="{{ transaction.amount }}">
            </div>
            <div class="form-group">
                <label>Ngày giao dịch</label>
                <input type="date" required name="date" value="{{ transaction.date}}">
            </div>
            
           
            <div class="form-group">
                <label>Mô tả</label>
                <textarea name="description">{{ transaction.description }}</textarea>
            </div>
            <div class="form-actions">
                <a href="/transaction" class="cancel-btn">Hủy</a>
                <button type="submit" class="submit-btn">Lưu giao dịch</button>
            </div>
        </form>
    </div>
</div>
<script >
    const typeSelect = document.querySelector('.typeTransaction');
    const categoryIncome = document.querySelector('.categoryIncome');
    const categoryExpense = document.querySelector('.categoryExpense');
    const categoryTransfer = document.querySelector('.categoryTransfer');

    typeSelect.addEventListener('change', () => {
        // Reset tất cả danh mục
        categoryIncome.classList.add('hidden');
        categoryExpense.classList.add('hidden');
        categoryTransfer.classList.add('hidden');
        categoryIncome.disabled = true;
        categoryExpense.disabled = true;
        categoryTransfer.disabled = true;

        // Hiển thị danh mục phù hợp
        const selectedType = typeSelect.value;
        if (selectedType === 'income') {
            categoryIncome.classList.remove('hidden');
            categoryIncome.disabled = false;
        } else if (selectedType === 'expense') {
            categoryExpense.classList.remove('hidden');
            categoryExpense.disabled = false;
        } else if (selectedType === 'transfer') {
            categoryTransfer.classList.remove('hidden');
            categoryTransfer.disabled = false;
        }
    });

</script>
{% endblock %}