<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinanceTracker Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="layout">
        <aside class="sidebar">
            <div class="sidebar-header">
                <h1 class="logo"> FinanceTracker</h1>
            </div>
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="/dashboard" class="btn-dashboard {{'active' if request.path == '/dashboard' else ''}}"><i class="fas fa-home w-8"></i> Tổng quan</a></li>
                    <li><a href="/account" class="btn-account {{'active' if request.path == '/account' else ''}}"><i class="fas fa-user w-8"></i> Quản lý tài khoản</a></li>
                    <li><a href="/transaction" class="btn-transaction {{'active' if request.path == '/transaction' else ''}}"><i class="fas fa-exchange-alt w-8"></i> Quản lý giao dịch</a></li>
                    <li><a href="/loan" class="btn-loan {{'active' if request.path == '/loan' else ''}}"><i class="fas fa-hand-holding-usd w-8"></i> Quản lý khoản vay</a></li>
                    <li><a href="/jar" class="btn-report {{'active' if request.path == '/jar' else ''}}"><i class="fa-solid fa-jar w-8"></i>Công cụ quản lí</a></li>
                    <li><a href="/report" class="btn-report {{'active' if request.path == '/report' else ''}}"><i class="fas fa-chart-bar w-8"></i> Báo cáo</a></li>

                </ul>
            </nav>
            <div class="sidebar-footer">
                <a href="/logout" class="logout-button"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
            </div>
        </aside>
        <main class="main-content">
            
            {% block content %}{% endblock %}
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
</body>
</html>

