{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
<div class="transactions-container">
    <div class="balance-overview">
        <div class="balance-card total">
            <div class="balance-icon">
                <i class="fas fa-wallet"></i>
            </div>
            <div class="balance-info">
                <h3>Tổng số dư</h3>
                <p class="amount">{{ total_balance }} </p>
            </div>
        </div>
        {% for bank_account in bank_accounts %}
        <div class="balance-card">
            <div class="balance-icon">
                <i class="fas fa-university"></i>
            </div>
            <div class="balance-info">
                <h3>{{ bank_account.name }}</h3>
                <p class="amount">{{ bank_account.balance }}</p>
            </div>
        </div>
        {% endfor %}
        {% for ewallet_account in ewallet_accounts %}
        <div class="balance-card">
            <div class="balance-icon">
                <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="balance-info">
                <h3>{{ ewallet_account.name }}</h3>
                <p class="amount">{{ ewallet_account.balance }}</p>
            </div>
        </div>
        {% endfor %}
        {% for cash_account in cash_accounts %}
        <div class="balance-card">
            <div class="balance-icon">
                <i class="fas fa-money-bill"></i>
            </div>
            <div class="balance-info">
                <h3>{{ cash_account.name }}</h3>
                <p class="amount">{{ cash_account.balance }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <header class="page-header">
        <h2>Quản lý Giao dịch</h2>
        <div class="header-actions">
            <button class="add-transaction-btn">
                <i class="fas fa-plus"></i>
                Thêm giao dịch
            </button>
        </div>
    </header>

    <!-- Bộ lọc giao dịch -->
    <div class="transaction-filters">
        
        <div class="filter-group">
            <label>Loại giao dịch:</label>
            <select id="typeFilter">
                <option value="all">Tất cả</option>
                <option value="income">Thu nhập</option>
                <option value="expense">Chi tiêu</option>
                <option value="transfer">Chuyển khoản</option>
            </select>
        </div>
        <div class="filter-group">
            <label>Tài khoản:</label>
            <select id="accountFilter">
                <option value="">Tài khoản</option>
                <option value="">Tất cả tài khoản</option>
                {% for account in accounts %}
                <option value="{{ account.name }}">{{ account.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Bảng giao dịch -->
    <div class="transactions-table">
        <table>
            <thead>
                <tr>
                    <th>Ngày</th>
                    <th>Loại</th>
                    <th>Tài khoản</th>
                    <th>Danh mục</th>
                    <th>Mô tả</th>
                    <th>Số tiền</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td class="date">{{ transaction.date }}</td>
                    <td class="type"><span class="badge {{ transaction.type }}">{{ transaction.type }}</span></td>
                    <td class="account">{{ transaction.account }}</td>
                    <td class="category">{{ transaction.category }}</td>
                    <td class="description">{{ transaction.description }}</td>
                    {% if transaction.type == 'income' %}
                    <td class="amount income">{{ transaction.amount }}</td>
                    {% elif transaction.type == 'expense' %}
                    <td class="amount expense">{{ transaction.amount }}</td>
                    {% elif transaction.type == 'transfer' %}
                    <td class="amount transfer">{{ transaction.amount }}</td>
                    {% endif %}
                    <td>
                        <a class="action-btn edit" href="/transaction/edit/{{ transaction._id }}"><i class="fas fa-edit"></i></a>
                        <form class="delete-form" action="/transaction/delete/{{ transaction._id }}" method="post">
                            <button type="submit" class="action-btn delete"><i class="fas fa-trash"></i></button>
                        </form>
                        
                    </td>
                </tr>
                
            
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal thêm/sửa giao dịch -->
    <div class="modal" id="transactionModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Thêm giao dịch mới</h3>
                <button class="close-btn"><i class="fas fa-times"></i></button>
            </div>
            <form class="transaction-form" action="/transaction/add" method="post">
                <div class="form-group">
                    <label>Loại giao dịch</label>
                    <select required class="typeTransaction" name="type">
                        <option value="income">Thu nhập</option>
                        <option value="expense">Chi tiêu</option>
                        <option value="transfer">Chuyển khoản</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Tài khoản</label>
                    <select required name="account" class="accountSelect">
                       {% for account in accounts %}
                            <option value="{{ account.name }}" class="balance" balance={{account.balance}}>{{ account.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Danh mục</label>
                    <select required class="categoryIncome" name="category" disabled>
                        <option value="Lương">Lương</option>
                    </select>
                    
                    <select required class="categoryExpense hidden" name="category" disabled>
                        {% for category in categories %}
                            <option value="{{ category.category }}">{{ category.category }}</option>
                        {% endfor %}
                    </select>
                    
                    <select required class="categoryTransfer hidden" name="category" disabled>
                        <option value="Khác" selected>Khác</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Số tiền</label>
                    <input type="number" required min=1  max=1000000000 name="amount" class="amountAccount" placeholder="Nhập số tiền">
                </div>
                <div class="form-group">
                    <label>Ngày giao dịch</label>
                    <input type="datetime-local" required name="date">
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea name="description" placeholder="Nhập mô tả giao dịch"></textarea>
                </div>
                <div class="form-actions">
                    <button type="button" class="cancel-btn">Hủy</button>
                    <button type="submit" class="submit-btn">Lưu giao dịch</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal sửa giao dịch -->
     
   
</div>
<script src="{{ url_for('static', filename='js/transaction.js') }}"></script>
{% endblock %}
